<% liking_friends = friends_who_liked_pin(pin) %>
<div class="box panel panel-default panel-default-box-width pin">
	<div class="tiles">
    		<%= link_to pin do %>
			<div class="tiles__spotTile-background" style="background-image:url(<%= pin.safe_image_url %>);">
			<% end %>
            <div class="tiles__spotTile-cover">
            	<p class="infoboard__points-title"><%= link_to pin.name, pin_path(pin) %></p>
              <p class="tiles__spotTile-location"><%= pin.place  %></p>	
              </div>
              <p class="likedby">Loved by <%= liking_friends.count %> friends</p>
		<p class="friends">
			<% liking_friends.take(3).each do |p| %>
				<% if p.present? %>
					<%= link_to image_tag(p.photo_url, class: 'pin_liked_image'), p %>
				<% end %>
			<% end %>
			<% if liking_friends.count > 3 %>
				<%= link_to liking_friends.count, pin_path(pin, anchor: 'liked_by'), class: 'more_link_color' %>
			<% end %>
		</p>
      		<div class="actions">
			<% if current_user.liked? pin %>
				<h4>You <span class="glyphicon glyphicon-heart"></span> <%= link_to pin.name, pin_path(pin) %></h4>
			<% else %>
				<%= link_to like_pin_path(pin), method: :put, class: "btn btn-CTA btn-xs" do %> Love FoodSpot
				<% end %>
			<% end %>
		</div>
	</div>
</div>
</div>

