<div id="pins" class="transitions-enabled">
      <% @pins.each do |pin| %>
         <div class="box panel panel-default panel-default-box-width">
                  <div class="panel-body">
                      <p><b><%= link_to pin.name, pin_path(pin) %></b></p>
                      <p><%= pin_distance(pin) %> away</p>
                      <p><b>Liked by: <% pin.votes_for.size %> </b>
                        <p>
                          <% friends_who_liked_pin(pin).take(3).each do |p| %>
                            <% if p.present? %>
                            <%= link_to image_tag(p.image_file_name, class: 'pin_liked_image'), p %>
                            <% end %>
                          <% end %>
                        <% if friends_who_liked_pin(pin).count > 3 %>
                          <b><%= link_to "...", pin_path(pin, anchor: 'liked_by'), class: 'more_link_color' %></b>
                          </p>
                        <% end %>
                      <div class="actions">
                            <% if current_user.liked? pin %>
                              <button type="button" class="btn btn-success">
                              <span class="glyphicon glyphicon-heart"></span>
                              Liked
                              </button> 
                              <%= link_to unlike_pin_path(pin), method: :put, class: "btn btn-default btn-xs btn-link" do %>   
          
                              Unlike    
                              <% end %>                           
                            <% else %>
                              <%= link_to like_pin_path(pin), method: :put, class: "btn btn-default" do %>
                            
                              Like 
                              <% end %>                             
                            <% end %>
                      </div>
                  </div>
          </div>
     <% end %>
</div>
<%= paginate @pins, theme: 'twitter-bootstrap-3', :pagination_class => pagination_class %>