<div id="pins" class="transitions-enabled">
      <% @pins.each do |pin| %>
         <div class="box panel panel-default panel-default-box-width pin">
                  <div class="panel-body">
                      <h3><%= link_to pin.name, pin_path(pin) %></h3>
                      <%= image_tag pin.external_image_url, :width => "150", class: "img-responsive" %>
                      <p><b><%= pin_distance(pin) %></b> away</p>
                      <p class="likedby">Liked by friends: (<%=pin.votes_for.size %>)</p>
                        <p class="friends">
                          <% friends_who_liked_pin(pin).take(3).each do |p| %>
                            <% if p.present? %>
                            <%= link_to image_tag(p.photo_url, class: 'pin_liked_image'), p %>
                            <% end %>
                          <% end %>
                        <% if friends_who_liked_pin(pin).count > 3 %>
                          <%= link_to "...", pin_path(pin, anchor: 'liked_by'), class: 'more_link_color' %>
                          </p>
                        <% end %>
                      <div class="actions">
                            <% if current_user.liked? pin %>
                              <button type="button" class="btn btn-icon btn-liked">
                              FoodSpot
                              </button>                         
                            <% else %>
                              <%= link_to like_pin_path(pin), method: :put, class: "btn btn-icon btn-like" do %>
                              Add Spot
                              <% end %>                             
                            <% end %>
                      </div>
                  </div>
          </div>
     <% end %>
</div>
<div class="text-center">
	<%= paginate @pins, theme: 'twitter-bootstrap-3', :pagination_class => pagination_class %>
</div>
