<div id="pins" class="transitions-enabled">
      <% @pins.each do |pin| %>
         <div class="box panel panel-default panel-default-box-width">
                  <div class="panel-body">
                      <p><b><%= link_to pin.name, pin_path(pin) %></b></p>
                      <p><b>Distance: </b> <%= pin_distance(pin) %></p>
                      <p><b>Liked by: <% pin.votes_for.size %> </b>
                        <p>
                          <% friends_who_liked_pin(pin).take(3).each do |p| %>
                            <% if p.present? %>
                            <%= link_to image_tag(p.image_file_name, class: 'pin_liked_image'), p %>
                            <% end %>
                          <% end %>
                        <% if friends_who_liked_pin(pin).count > 3 %>
                          <b><%= link_to "...", pin_path(pin, anchor: 'liked_by'), class: 'more_link_color' %></b>
                          </p>
                        <% end %>
                      <div class="actions">
                            <p><%= link_to pin_path(pin) , class: "btn btn-info btn-sm" do %>
                            <span class="glyphicon glyphicon-fullscreen"></span>
                            View location
                            <% end %>
                            <% if current_user.liked? pin %>
                              <%= link_to unlike_pin_path(pin), method: :put, class: "btn btn-danger btn-sm" do %>
                              <span class="glyphicon glyphicon-remove"></span>
                              Unlike
                              <% end %>
                            <% else %>
                              <%= link_to like_pin_path(pin), method: :put, class: "btn btn-success btn-sm" do %>
                              <span class="glyphicon glyphicon-heart"></span>
                              Like 
                              <% end %> 
                            <% end %>
                      </div>
                  </div>
          </div>
     <% end %>
</div>
<%= paginate @pins, theme: 'twitter-bootstrap-3', :pagination_class => pagination_class %>