<div class="col-xs-14">
<div class="center">
<% if @pins.present? && @pins.count > 0 %>

<%= form_tag(search_path, method: :get, class: "navbar-form pin-search-form") do %>
          <div class="form-group">
            <%= text_field_tag 'search', params[:search], class: "form-control-search", placeholder: "[restaurant name]", autofocus: true %>
          <%= submit_tag "Search", class: "btn btn-default-search" %>
        <% end %>
        </div>
<% else %>
<p>You haven't any friends added yet. <u><%= link_to "Add friends", users_path %></u></p>

<% end %>
</div>
<%= render partial: 'pins/show_pin_details' %>
</div>
