<div class="col-xs-12">
  <div class="panel panel-default">
  <div class="panel-body">
  	<%= form_tag(search_pins_path, method: :get, class: "navbar-form navbar-left") do %>
  	          <div class="form-group">
  	            <%= text_field_tag 'search', params[:search], class: "form-control", placeholder: "Search for restaurants", autofocus: true %>
  	          </div>
  	          <%= submit_tag "Search", class: "btn btn-success" %>
  	        <% end %>
            Choose from the <b><%= @pins.total_count %></h2></b> restaurants on Friends4food and add them to your list.
<p>
  </div>
</div>
<%= render 'pins/show_pin_details' %>

