<div class="col-xs-12">
<div class="panel panel-default" id="liked_by">
  <div class="panel-body">
    <h3>Visited by: </h3>
    <% friends_who_liked_pin(@pin).each do |p| %>
      <% if p.present? %>
        <%= link_to image_tag(p.image_file_name, class: 'pin_liked_image'), p %>
      <% end %>
    <% end %>

  </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Navigation:</h3>
      <p><strong>Address:</strong>
        <%= @pin.address %></p> 
      <p><strong>Place: </strong>
        <%= @pin.place %></p>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@pin.latitude}%2C#{@pin.longitude}", class: "img-responsive" %>
         <br></br>
         <% if @latitude.present? && @longitude.present? %>
          <% destination_location = @pin.location.present? ? "#{@pin.name}, #{@pin.location}" : '' %>
          <div class="col-xs-12">
            <form action="http://maps.google.com/maps" method="get" target="_blank">
              <%= hidden_field_tag "saddr", "#{source_location}" %>
              <%= hidden_field_tag "daddr", "#{destination_location}" %>
              <%= button_tag(type: 'submit', class: "btn btn-default pull-left") do %>
                <span class="glyphicon glyphicon-map-marker"></span>See route
              <% end %>
            </form>
          </div>
        </div>
      <% end %>
     