<div class="col-xs-14">
<div class="center">
 <p>Find below the list of <b>your</b> friends. <u><%= link_to "Add more", users_path %></u></p>
<% if @followings.present? && @followings.size > 0 %>
</div>
    <div id="pins" class="transitions-enabled friends">
            <% current_user.followings.each do |user| %>
                <div class="box panel panel-default" id = "user_<%= user.id %>">
                <%= render :partial => 'users/user', :locals => {:user => user} %>
                </div>
            <% end %>
    </div>
<% else %>
   <p> Oops, you haven't added any friends yet. </p>
   	     <%= link_to users_path, class: "btn-CTA" do %>
         <span class="glyphicon glyphicon-play"></span>
         Add friends now
         <% end %>
         <br></br>
         <p>Or invite your Facebook friends to join FoodSpots.me. <%= share_snippet %> </p>
<% end %> 
</div>






 



