 <div class="col-xs-14">
 <h3>My favorite FoodSpots</h3>
 <div class="panel panel-default">
 <p>You have <%= @pins.count %> favorite FoodSpots.</p>
 <% if @pins.count > 0 %>
 <p>
 <%= link_to pins_path, class: "btn btn-add btn-icon" do %>
 Add more FoodSpots
 <% end %>
 </p>  

 <% else %>
 <p>
 <%= link_to pins_path, class: "btn btn-add btn-icon" do %>
 Start adding FoodSpots
 <% end %>
 </p>  
 <% end %>
 </div>

 <p>
 <%= link_to my_recently_visited_path, class: "btn btn-add btn-icon" do %>
 View your recently visited FoodSpots
 <% end %>
 </p>

	 <%= render partial: 'pins/show_pin_details' %>
 </div>


