<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= @user.name %></h2>
    <p><%= link_to image_tag(@user.image_file_name), @user %></p>
    <div id="follow_unfollow_btn" class="btn_margin">
      <%= render :partial => 'follow_unfollow_btn', :locals => {:user => @user} %>  
    </div>
  </div>
  </div>

<ul class="list-group">
  <li class="list-group-item">
      <b>Restaurants visited (<%= @user.find_liked_items.size %>)</b>
          <% @user.find_liked_items.each do |pin| %>
               <li class="list-group-item">
                <span class="glyphicon  glyphicon glyphicon-heart" style="color:red"></span>
               <%= link_to pin.name, pin_path(pin) %>
                </li>
          <% end %>
  </li>

  <ul class="list-group">
  <li class="list-group-item">
      <b>Friends (<%= @user.followings.count %>)</b>
      <% @user.followings.each do |user| %>
           <li class="list-group-item">
            <span class="glyphicon  glyphicon glyphicon glyphicon-ok" style="color:green"></span>
           <%= link_to image_tag(user.image_file_name) %>
           <%= link_to user.name, user_path(user) %>
            </li>
      <% end %>
  </li>