 <div class="col-xs-14">
 <div class="avatar">
   <%= link_to image_tag(@user.photo_url + '&width=160&height=160'), @user %>
 </div>
 <div id="follow_unfollow_btn" class="btn_margin">
   <%= render :partial => 'follow_unfollow_btn', :locals => {:user => @user} %>
 </div>
 <h3><%= @user.name %>'s profile</h3>
 <div class="panel panel-default">
 <p>View the favorite FoodSpots of <%= @user.name %>.</p>
 
 
 
</div>
	 <%= render 'pins/show_pin_details' %>

 </div>