<% content_for(:bodyclass, 'login')%>
<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-default loginpanel">
      <div class="panel-body loginnote">
      	<h1>Hi <%= @user.name %>,</h1>

		  <% if not @welcomed %>
  			  <%# This is shown the very first login %>
        	<p>You have succesfully connected with <b><%= current_user.follows.count %></b> of your Friends:</p>

          <% @current_user.followings.each do |user| %>
          <li> <%=user.name %> </li>
          <% end %>  

          <br/><br/>
          <h1>Almost there...</h1>
          <p>You are only one step away from discovering the hottest FoodSpots. Click the button below!</p>
          <%= link_to root_path, class: "btn btn-lg btn-default ask_location" do %>
          <span class="glyphicon glyphicon-play"></span>
          Share your location
          <% end %>       
		  <% else %>
         <%# This is shown every second login when no location has been shared yet%>
  			 <p>Thank you for using Foodspots. Oops, you haven't shared your location yet.</p> 
         <br/><br/>
         <h1>Complete your registration</h1>
         <p>Click the button below and discover the nearest FoodSpots.</p>
         <%= link_to root_path, class: "btn btn-lg btn-default ask_location" do %>
         <span class="glyphicon glyphicon-play"></span>
         Share your location
         <% end %>
		  <% end %>

        </div>
    </div>
  </div>
</div>
