<% content_for(:bodyclass, 'login')%>
<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-default loginpanel">
      <div class="panel-body loginnote">
      	<h1>Hi <%= @user.name %>,</h1>

		  <% if not @welcomed %>
  			  <%# This is shown the very first login %>
        	<p>Welcome to Foodspots. You now have your own account to share you favorite restaurants with your friends. </p>
          <p>You are now connected with <b><%= current_user.follows.count %></b> of your Facebook friends on FoodSpots.me</p>
          <br/><br/>
          <h1>Discover restaurants nearby</h1>
          <p>Click the button below to share your location with us.</p>
          <%= link_to root_path, class: "btn btn-lg btn-default ask_location" do %>
          <span class="glyphicon glyphicon-play"></span>
          Share your location
          <% end %>       
		  <% else %>
         <%# This is shown every second login when no location has been shared yet%>
  			 <p>Thank you for using Foodspots again.</p>
         <p>You are connected with <b><%= current_user.follows.count %></b> of your Facebook friends on FoodSpots.me</p>
         <br/><br/>
         <h1>Discover restaurants nearby</h1>
         <p>Click the button below to share your location with us.</p>
         <%= link_to root_path, class: "btn btn-lg btn-default ask_location" do %>
         <span class="glyphicon glyphicon-play"></span>
         Share your location
         <% end %>
		  <% end %>

        </div>
    </div>
  </div>
</div>
