<div class="panel panel-default">
  <div class="panel-heading">
     <div class="panel-title">
      <h2>Discover your favorite restaurants</h2>
      </div>
       <div class="panel-heading">
       Sign in and check out the favorite restaurants of your friends in town.
    </div>
<div class="panel-body">
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-facebook" %><br/><br/>
      <b>Note:</b> Friends4food will <u>never post messages</u> on your Facebook wall.
      </div>
      </div>     
</div>

       </div>

       <div class="panel-body">    
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
   
      <div class="form-group">   
        <%= f.label :email, "Email adres" %>   
        <%= f.email_field :email, autofocus: true, class: "form-control", :autofocus => true %>    
      </div>   
             
       <div class="form-group">  
        <%= f.label :password, "Wachtwoord" %>  
        <%= f.password_field :password, class: "form-control" %>
        </div>
      
        <div class="form-group">   
        <%= f.submit "Bewaar", class: "btn btn-info" %>    
        </div>  

    <% end %>    
 </div>

